* {
    font-family: 'Noto Sans KR', sans-serif;
}

.balloon {
    margin: 0 auto;
    max-width: 900px;
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.cont-round {
    margin-bottom: 20px;
    padding: 36px;
    border-radius: 20px;
    background: rgba(255, 255 ,255, .7);
    color: #222;
}
.cont-round h2 {
    margin-top: 0;
}

main {
    filter: none;
    transition: 1s ease;
}
main.shownavi {
    filter: blur(10px) grayscale(75%);
}

body {
    margin: 0;
    background: #fafafa;
}

#navi {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 0;
    z-index: 1;
}
#navi .balloon {
    display: none;
    padding: 0;
    color: white;
}
#navi.shownavi {
    height: 100vh;
}
#navi.shownavi .balloon {
    display: block;
}

.navimain-links {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.navimain-link {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

#navitop {
    padding: 0 20px;
    font-size: 1em;
    font-weight: bold;
    cursor: default;
}

#credit {
    text-align: center;
    font-size: 14px;
}
#credit a:link, #credit a:visited {
    color: darkslategray;
}

header {
    position: fixed;
    width: 100vw;
    height: 60px;
    cursor: default;
    background: #fafafa;
}

.nums {
    width: 100vw;
    height: 50vh;
    min-height: 300px;
}

.nums .balloon {
    align-items: center;
    justify-content: center;
}

.valgroup {
    width: 90%;
}
.vallabel, .valinput {
    margin: 0;
    width: 100%;
    font-size: 3em;
    text-align: center;
    border: none;
    outline: none;
}
.valinput {
    display: none;
    background: rgba(255, 255, 255, .01);
    -webkit-appearance: none;
    color: gray;
}

#valgroup0:hover #vallabel0, #valgroup1:hover #vallabel1 {
    display: none;
}
#valgroup0:hover #valinput0, #valgroup1:hover #valinput1 {
    display: block;
}

.valmilsep {
    margin: 0;
    font-size: 16px;
    color: gray;
}

.nums select {
    display: block;
    border: none;
    outline: none;
    font-size: 1.5em;
    background: rgba(255, 255, 255, .01);
    text-align-last: center;
    -webkit-appearance: none;
}

.intinval {
    font-weight: bolder;
    color: darkslategray;
}
.floatinval {
    color: #888;
    font-size: 0.66em;
}

#middle {
    position: absolute;
    top: calc(50vh - 25px);
    left: calc(50vw - 25px);
}
#equal-decoration {
    width: 50px;
    height: 50px;
    background: black;
    border-radius: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 20px;
    font-weight: bold;
}

#indicator {
    position: fixed;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 0vh;
    background: linear-gradient(#fafafa, #DFEBE3);
    transition: height .5s ease;
}

@media screen and (max-width: 900px) {
    /* Safari에서 터치 hover 작동 안됨 임시조치 */
    .vallabel { display: none; }
    .valinput {
        display: block;
        font-weight: bolder;
        color: darkslategray;
    }
    .navimain-links { grid-template-columns: auto auto auto; }
}

@media screen and (max-width: 600px) {
    .navimain-links { grid-template-columns: auto auto; }
}

@media screen and (max-height: 600px) {
    #middle { display: none; }
}
